.heading{
    background-color: green;
}
.pic{
    margin-left: 26px;
}
.picture{
    margin-left: 26px;
}
.pic1{
    width: 129px;
}
.pic3{
    width: 129px;
}
.heading a{
    margin: 8px;
}
